{% extends 'base_generic.html' %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="esquerda">
    </div>
    <div class="index-container">
        <div class="jumbotron index-title ">
            <h1 class="display-4">Bem vindo ao Monitora!</h1>
            
            <p class="lead">Nosso site é capaz de monitorar os preços para você!</p>
                <hr class="my-3">

                <p class="lead">Ficou interessado em algum produto e quer saber quando o preço dele
                irá abaixar? Entre com a URL do produto ofertado para monitorar seu preço</p>
            


            <a class="btn button-outline-custom btn-lg" id="index-btn" role="button">
                Teste agora 
                <br>
                <span data-feather="chevrons-down"></span>
            </a>
        </div>
    </div>

    <div class="direita">

    </div>



</div>



{% endblock %}